<div data-bind="scope: 'randomReview'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "randomReview": {
                    "component": "Training_Testhomework/js/review",
                    "config": {
                        "template": "Training_Testhomework/review",
                        "url": <?= json_encode($block->getUrl('review/review/index')) ?>
                    }
                }
            }
        }
    }
}
</script>