<div>
    <div class="toolbar">
        <div class="action">
            <button id="add" title="<?= __('Add Feedback') ?>"
                    type="button" class="action scalable primary"
                    onclick="location.href = '<?= $block->escapeUrl($block->getAddFeedbackUrl()) ?>';">
                <span><?= __('Add Feedbaack') ?></span>
            </button>
        </div>
        <div class="feedback-statistic">
            <div data-bind="scope: 'feedback'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
        </div>
        <?= $block->getPagerHtml() ?>
    </div>
    <div class="feedback-list">
        <?php foreach ($block->getFeedbackCollection() as $feedback): ?>
            <div class="feedback-item" style="background-color: #55ecf4; margin: 5px;">
                <p>
                    <?= $block->escapeHtml($feedback->getAuthorName()) ?> |
                    <?= $block->getFeedbackDate($feedback) ?>
                </p>
                <p><?= $block->escapeHtml($feedback->getMessage()) ?></p>
            </div>
        <?php endforeach; ?>
    </div>
    <div class="toolbar">
        <?= $block->getPagerHtml() ?>
    </div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "feedback": {
                    "component": "Training_Feedback/js/feedback",
                    "config": {
                        "template": "Training_Feedback/statistic"
                    }
                }
            }
        }
    }
}
</script>