<p data-bind="html: $t('Total number of submitted feedbacks: %1').replace('%1', feedbackData().allFeedbackNumber)" ></p>
<p data-bind="html: $t('Total number of active feedbacks: %1').replace('%1', feedbackData().activeFeedbackNumber)" ></p>